<div>
  <h2>Gallery</h2>
  <div>
    <input (input)="setPassword($event)" placeholder="Enter password" style="margin-right: 10px;"/>
    <button (click)="checkPassword()">Open form</button>
    <form *ngIf="showForm" (submit)="createImage()">
      <input name="name" [(ngModel)]="name" placeholder="title" style="margin: 20px"/><br>
      <input name="image" [(ngModel)]="image" placeholder="url" style="margin: 20px"><br>
      <button [disabled]="name === '' && image === ''">Add Image</button>
    </form>
    <app-image
      *ngFor="let picture of pictures"
      [name] ="picture.name"
      [icon]="picture.image"
    >
    </app-image>
  </div>

</div>
